body {
  padding-top: 40px;
  margin: 0 auto;
  padding-bottom: 40px;
  background-color: #fff !important;
}


.container-fluid {
  background-color: #fff !important;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80); /*for Internet Explorer 6/7*/
  filter: “alpha(opacity=80)”; /*for Internet Explorer 8*/
  -moz-opacity:0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
  padding-bottom: 40px;
  border-bottom-right-radius: 20px;
  -moz-border-radius-bottomright: 20px;
  -webkit-border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  -moz-border-radius-bottomleft: 20px;
  -webkit-border-bottom-left-radius: 20px;
}

@media (min-width: 1200px) {
  .span3 {
    width: 195px !important;
  }
  div.navbar div.navbar-inner div.navigation,
  .container-fluid {
    margin: 0px auto !important;
    width: 910px;
  }
}

@media (min-width: 980px)  and (max-width: 1199px) {
  .span3 {
    width: 180px !important;
  }
  div.navbar div.navbar-inner div.navigation,
  .container-fluid {
    margin: 0px auto !important;
    width: 820px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .span3 {
    width: 150px !important;
  }
  .container-fluid {
    padding: 0 !important;

  }
  div.navbar div.navbar-inner div.navigation,
  .container-inside {
    margin: 0 auto !important;
    padding: 0 20px !important;
    width: 740px !important;
  }
}

@media (max-width: 768px) {
  div.navbar-fixed-top div.navbar-inner,
  div.navbar-fixed-bottom div.navbar-inner {
    padding-left: 20px;
  }
  body {
    padding: 0 !important;
  }
  .container-fluid {
    padding: 0 20px !important;
  }
  .container-inside {
    padding: 0 20px !important;
  }
}


li.span3 {
  padding:0.33em;
}

li.span12 {
  padding:40px 120px
}


.thumbnail {
  padding-top: 10px;
  border-width: 2px !important;
  background-color: #ddd;
  border-color: #ccc !important;
  border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -webkit-border-radius: 10px !important;
}

.thumbnail img {
    border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
}


.thumbnail:hover {
  background-color: #ccc;
  border-color: #bbb !important;
}

.recursos {
  list-style-type: none;
  padding: 10px 0px;
}

.recursos a:hover {
  text-decoration:none;
}

.recursos li {
  vertical-align: middle;
}

.navbar a.brand:hover {
  color: #378;
}

.brand .software {
  font-weight: bold;
}

.brand .libre {
  font-weight: bold;
  color: #eee;
}


h1.lead {
  font-size: 2.3em !important;
  text-align: center;
}

.abbreviation {
  font-weight: bold;
  color: #ccc;
  font-size: 2.5em;
  text-align: center;
}

.highlighted {
  font-weight: 500;
  padding: 30px;
  background-color: #eee;
  border-color: #ddd;
  border-width: 12px;
  border-style: solid;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
