body {
  padding-top: 40px;
  margin: 0 auto;
  padding-bottom: 40px;
}


.container-fluid {
  background-color: #fff !important;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80); /*for Internet Explorer 6/7*/
  filter: “alpha(opacity=80)”; /*for Internet Explorer 8*/
  -moz-opacity:0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
  padding-bottom: 40px;
  border-bottom-right-radius: 20px;
  -moz-border-radius-bottomright: 20px;
  -webkit-border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  -moz-border-radius-bottomleft: 20px;
  -webkit-border-bottom-left-radius: 20px;
}

@media (min-width: 1200px) {
  .span3 {
    width: 210px !important;
  }
  .container-fluid {
    margin: 0px 120px !important;
  }
  div.navbar-fixed-top div.navbar-inner,
  div.navbar-fixed-bottom div.navbar-inner {
    padding-left: 120px;
  }
}

@media (min-width: 980px)  and (max-width: 1199px) {
  .span3 {
    width: 190px !important;
  }
  .container-fluid {
    margin: 0px 60px !important;
  }
  div.navbar-fixed-top div.navbar-inner,
  div.navbar-fixed-bottom div.navbar-inner {
    padding-left: 60px;
  }
}


@media (min-width: 768px) and (max-width: 979px) {
  .span3 {
    width: 160px !important;
  }
  .container-fluid {
    margin: 0px 20px !important;
  }
  div.navbar-fixed-top div.navbar-inner,
  div.navbar-fixed-bottom div.navbar-inner {
    padding-left: 20px;
  }
}



li.span3 {
  padding:0.33em;
  border-radius:1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
}

li.span12 {
  padding:40px 120px
}

.recursos {
  list-style-type: none;
  padding: 10px 15px;
}

.recursos a:hover {
  text-decoration:none;
}

.recursos li {
  vertical-align: middle;
}

.navbar a.brand:hover {
  color: #378;
}

.brand .software {
  font-weight: bold;
}

.brand .libre {
  font-weight: bold;
  color: #eee;
}


.span3 div.thumbnail {
  padding-top: 15px;
}
